streamlit
pandas
python-dotenv
langchain-openai
langchain-experimental
matplotlib
tabulate

# pip install streamlit pandas langchain langchain-experimental langchain-openai python-dotenv tabulate
